.btn {
   display: inline-block;
   padding: em(30, 24) em(40, 24);
   font-size: rem(24);
   line-height: em(36, 24);
   text-align: center;
   color: $color-white;
   background-color: $color-accent;
   letter-spacing: rem(3);
   cursor: pointer;
   user-select: none;
   transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
   @include pc_768 {
      font-size: rem(16);
   }
   @include pc_hover {
      background-color: $color-accent-dark;
      box-shadow: 0px 4px 8px 3px rgba(34, 60, 80, 0.2);
   }
   &:active {
      box-shadow: none;
   }
   &--sm {
      font-size: rem(14);
      padding: em(20, 14) em(30, 14);
   }
}
