@use "sass:math";
//Контейнер
$content-width-figma: 1202; //Ширина контейнера в фигме
$container-offset: 20; //Отступы безопасности
$container-width: $content-width-figma + ($container-offset * 2);

//Цвета

$color-primary: #999999;
$color-secondary: #6d6d6d;
$color-secondary-light: #ededed;
$color-accent: #4e5851;
$color-accent-dark: #3b423d;

$color-white: #fff;
$color-black: #000;


$font-family: "Montserrat", sans-serif;
$font-size: rem(18);
$font-weight: 500;
$font-color: $color-primary;

//Размеры
$site-min-width: 320px;
$site-max-width: 1920; // Нужен для работы адаптивного свойства
