.about-me {
   // .about-me__wrapper
   &__wrapper {
   }

   // .about-me__title
   &__title {
      margin-bottom: rem(10);
   }

   // .about-me__text
   &__text {
      @include ad-value(margin-bottom, 60, 20, 1);
      font-size: rem(16);
      line-height: calc((36 / 18) * 100%);
      color: $color-secondary;

      @include pc_768 {
         font-size: rem(14);
         margin-bottom: rem(20);
      }
   }

   // .about-me__cover
   &__cover {
      position: relative;
      width: 100%;
      height: rem(300);
      background: url(../img/about_bg.jpg) center/cover no-repeat;
      @include pc_768 {
         height: auto;
         background: none;
      }
   }

   // .about-me__info
   &__info {
      position: absolute;
      bottom: -30%;
      right: 10%;
      @include pc_768 {
         position: relative;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
      }
   }
}
