.footer {
   background-color: $color-secondary-light;
   margin-top: rem(40);
   // .footer__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include ad-value(padding-top, 40, 20, 1);
      @include ad-value(padding-bottom, 40, 20, 1);
      @include pc_768 {
         flex-direction: column;
      }
   }
   // .footer__name
   &__name {
      margin-right: rem(20);
      @include pc_768 {
         margin-right: 0;
         margin-bottom: rem(20);
      }
   }
   // .footer__social-list
   &__social-list {
   }
}
