.social {
   // .social__item
   &__item {
      display: inline-block;
      &:not(:last-child) {
         @include ad-value(margin-right, 40, 20, 1);
      }
   }
   // .social__link
   &__link {
      position: relative;
      font-size: rem(16);
      line-height: em(24, 16);
      letter-spacing: em(4, 16);
      color: $color-black;
      &::before {
         content: "";
         position: absolute;
         bottom: rem(-5);
         left: 0;
         width: 0;
         height: rem(2);
         background-color: currentColor;
         transition: width 0.2s ease-in-out;
      }
      @include pc_hover {
         &::before {
            width: 100%;
         }
      }
   }
}
