.tabs-projects {
   // .tabs-projects__list
   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(20);
      flex-wrap: wrap;
      @include pc_768 {
         gap: rem(10);
      }
   }

   // .tabs-projects__item
   &__item {
      flex: 1 1 auto;
      @include pc_768 {
         flex: 1 1 100%;
      }
   }

   // .tabs-projects__tab
   &__tab {
      width: 100%;
      color: $color-accent;
      padding: rem(10) rem(20);
      font-weight: 500;
      font-size: rem(18);
      border: 2px solid $color-accent;
      transition: all 0.2s ease-in-out;
      @include pc_hover {
         color: $color-white;
         background-color: $color-accent;
      }

      &._active {
         pointer-events: none;
         color: $color-white;
         background-color: $color-accent;
      }
   }
}
